/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

body {
    font-family: Arial, Arial, Helvetica, sans-serif
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.items-not-ranked{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 15px;
}

.unranked-cell{
    width: 80px;
    text-align: center;
    margin-left: 3px
}

.unranked-cell img, .rank-cell img{
    width: 100%;
    height: 100%;
}

.rank-cell {
    width: 80px;
    height: 100px; /* Set height to ensure it’s a proper drop target */
    border: 2px solid #ccc; /* Optional: border to visualize */
    pointer-events: all;
}

.rank-cell:hover {
    background-color: #f0f0f0;
    border: 2px dashed #999; /* Visual indication of drop target */
}



.rankings {
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    justify-self: center;
    margin-bottom: 15px;
}

.rank-row {
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 3px;
    margin-bottom: 4px;
}

.top-tier {
    background-color: red;
}

.middle-tier {
    background-color: orange;
}

.bottom-tier {
    background-color: yellow;
}

.worst-tier {
    background-color: lawngreen;
}